*{
margin:0;
padding:0;
box-sizing:border-box;
font-family:Poppins,sans-serif;
scroll-behavior:smooth;
}

body{
background:#0f172a;
color:white;
}

nav{
display:flex;
justify-content:space-between;
align-items:center;
padding:20px 8%;
background:#111827;
position:sticky;
top:0;
}

nav ul{
display:flex;
list-style:none;
gap:30px;
}

nav a{
text-decoration:none;
color:white;
transition:.3s;
}

nav a:hover{
color:#38bdf8;
}

.hero{
display:flex;
justify-content:space-around;
align-items:center;
padding:80px 8%;
flex-wrap:wrap;
}

.hero-text{
max-width:550px;
}

.hero-text h1{
font-size:55px;
}

.hero-text span{
color:#38bdf8;
}

.hero-text h3{
margin:20px 0;
font-weight:400;
}

.hero-text p{
line-height:30px;
margin-bottom:30px;
}

.btn{
background:#38bdf8;
padding:12px 30px;
text-decoration:none;
color:white;
border-radius:30px;
font-weight:600;
}

.hero-img img{
width:320px;
border-radius:50%;
}

section{
padding:70px 8%;
}

h2{
text-align:center;
margin-bottom:40px;
font-size:38px;
}

.cards{
display:grid;
grid-template-columns:repeat(auto-fit,minmax(180px,1fr));
gap:25px;
}

.card{
background:#1e293b;
padding:30px;
border-radius:15px;
text-align:center;
transition:.3s;
}

.card:hover{
transform:translateY(-10px);
background:#334155;
}

.card i{
font-size:50px;
color:#38bdf8;
margin-bottom:20px;
}

.project{
background:#1e293b;
padding:25px;
margin:20px 0;
border-radius:15px;
}

button{
padding:15px 35px;
background:#38bdf8;
border:none;
border-radius:30px;
color:white;
cursor:pointer;
margin-top:20px;
font-size:16px;
}

footer{
text-align:center;
padding:25px;
background:#111827;
margin-top:50px;
}
